<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNZxOTUQzdiJyn9-LDsfnkJdTOPWdBYDI</string>
	<key>GCM_SENDER_ID</key>
	<string>749192968385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omkar.aarogya</string>
	<key>PROJECT_ID</key>
	<string>aarogya-5abf6</string>
	<key>STORAGE_BUCKET</key>
	<string>aarogya-5abf6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749192968385:ios:933382c11815273d0cfc40</string>
</dict>
</plist>